@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Volkhov&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #FBF9F1;
    margin: 0;
}

.header {
    font-family: 'Volkhov', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 8px #000000;

    background-color: #E5E1DA;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 1.6rem;
}

img {
    width: 100px;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-book {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background-color: #FFCA4F;
    padding: 15px 50px;
    border-radius: 50px;
    margin: 40px;
    cursor: pointer;
}

#add-book:hover {
    color: whitesmoke;
    font-weight: 600;
    background-color: #121faf;
}

dialog {
    background-color: #E5E1DA;
    border: 1px solid #4e4c4c;
    border-radius: 20px;
    box-shadow: 0 0 12px #4e4c4c;
}

dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

dialog > h2 {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 14px;
}

form {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:not(input:last-child) {
    font-size: 1.4rem;
    width: 70%;
    border: 2px solid #4e4c4c;
    padding: 4px 8px;
    border-radius: 8px;
    margin: 8px;
}

form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 8px;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    background-color: #FBF9F1;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #000000;
    border-radius: 12px;
    margin: 2px 10px 0;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    height: 0.85rem;
    width: 0.85rem;
    background-color: #121faf;
    border-radius: 100%;
    position: absolute;
    right: 1px;
    top: 1px;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

form > div:last-child {
    justify-content: space-evenly;
}

button[id*="btn"] {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 6px 12px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

button[id*="submit"]:hover {
    background-color: #FFCA4F;
}

button[id*="cancel"]:hover {
    color: #FEFEFE;
    background-color: #B90E0A;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid-container > div {
    width: 300px;
    height: 300px;
    background-color: #E5E1DA;
    border-radius: 16px;
    box-shadow: 0 0 8px #4e4c4c;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.grid-item > div {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
